@use '../Styles/sizes.scss';

.App {
    height: 100%;
    margin: 0 auto;
    max-width: sizes.$container-width;

    display: flex;
    flex-direction: column;
}


@media (width <=sizes.$mobile-container-width) {
    html {
        font-size: 3vw;
    }
}