@use '../../Styles/colors.scss';
@use '../../Styles/sizes.scss';

.dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    width: fit-content;
    height: fit-content;
}

.dialog::backdrop {
    background-image: linear-gradient(180deg,
            colors.$gray,
            colors.$black);
    opacity: 0.4;
}