@use '../../Styles/sizes.scss';
@use '../../Styles/colors.scss';

.table-container {
    padding: 0;
}

.table {
    width: 100%;
    margin: sizes.$medium 0;
    text-align: left;
    border-collapse: collapse;

    th {
        padding: sizes.$small sizes.$tiny;
        font-size: 1.2rem;
        font-weight: 400;
        cursor: pointer;
        user-select: none;
    }

    .orderable::after {
        font-family: bootstrap-icons;
        content: "\f14c";
        position: relative;
        left: sizes.$tiny;
        top: 0.2rem;
        font-size: 1rem;
    }

    .orderable.active-asc::after {
        content: "\f119";
    }

    .orderable.active-desc::after {

        content: "\F13A";
    }

    td {
        border-top: 2px solid colors.$black;
        padding: sizes.$small sizes.$tiny;
    }

    .index-field {
        padding: sizes.$small sizes.$tiny;
        text-align: center;
    }
}

.form {
    label {
        display: block;
        padding: sizes.$tiny;
        font-weight: 500;
    }

    input {
        padding: sizes.$tiny;
        border-radius: 5px;
        font-size: 1rem;
        border: 0.15rem solid colors.$black;
        outline: none;
    }

    input[type=text]:focus {
        border: 0.15rem solid colors.$azure;
    }
}


@media (width <=sizes.$container-width) {
    .table-container {
        padding: 0 sizes.$small;
    }
}

@media (width <=sizes.$mobile-container-width) {

    .table {
        td {
            font-size: 0.8rem;
        }
    }
}