@use '../../Styles/sizes.scss';
@use '../../Styles/colors.scss';

.header {
    text-align: center;
    padding: sizes.$small-padding;
    background-color: colors.$brown;


    h1 {
        color: colors.$white;
    }

    p {
        width: fit-content;
        color: colors.$white;
        position: relative;
        left: 49%;
    }

    a {
        color: colors.$green;
        font-size: 1.5rem;
    }
}

.footer {
    margin-top: auto;
    padding: sizes.$medium-padding;
    background-color: colors.$brown;

    p,
    span {
        color: colors.$white;
        font-size: 1.2rem;
        font-weight: 500;
        display: inline;
    }

    a {
        color: colors.$green;
        font-size: 1.2rem;
        font-weight: 500;
    }
}

.github-link {
    text-decoration: underline;
}


.table-container {
    position: relative;
}