@use '../../Styles/sizes.scss';
@use '../../Styles/colors.scss';

.header {
    text-align: center;
    padding: sizes.$small-padding;
    background-color: colors.$brown;

    transition: border-radius 0.25s;
    border-radius: 0px 0px 40px 40px;


    h1 {
        color: colors.$white;
    }

    p {
        width: fit-content;
        color: colors.$white;
        position: relative;
        left: 49%;
        letter-spacing: 0.0rem;
        animation: title-start-animation 1.5s linear 0s;
    }

    a {
        color: colors.$green;
        font-size: 1.5rem;
    }
}

@keyframes title-start-animation {
    from {
        letter-spacing: -0.35rem;
        opacity: 0.3;
        left: 45%;
    }
}

.footer {
    margin-top: auto;
    padding: sizes.$medium-padding;
    background-color: colors.$brown;

    transition: border-radius 0.25s;
    border-radius: 40px 40px 0px 0px;

    p,
    span {
        color: colors.$white;
        font-size: 1.2rem;
        font-weight: 500;
        display: inline;
    }

    a {
        color: colors.$green;
        font-size: 1.2rem;
        font-weight: 500;
    }
}

.github-link {
    text-decoration: underline;
}


.table-container {
    position: relative;
}

@media (width <=sizes.$container-width) {

    .header {
        border-radius: 0px;
    }

    .footer {
        padding: sizes.$small sizes.$medium;
        border-radius: 0px;
    }
}

@media (width <=sizes.$mobile-container-width) {

    .footer {
        padding: sizes.$small;
    }
}